:root {
  --success: #2e7d32;
  --danger: #d32f2f;
  --brand: #7B7BFF;
  --brand-darker-1: #6D6DFC;
  --brand-lighter-1: purple;
  --black: #3f3f3f;
  --black-lighter-1: #5e5d5d;
  --white: #F0F8FF;
  --gray: #E7E7F5;
  --gray-darker-1: #D8D8E4;
}
